{$SITE_ADDRESS::80} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	handle /healthz {
		respond "ok" 200
	}

	handle /api/* {
		reverse_proxy app:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	log {
		output stdout
		format console
	}
}

:8081 {
	respond /healthz "ok" 200
}
